@import "tailwindcss";

:root {
  --text: #edf3f7;
  --background: #05080b;
  --primary: #a0bdd8;
  --secondary: #513177;
  --accent: #a768c0;
}

@layer utilities {
  .bg-dark-bg {
    background-color: var(--background);
  }

  .bg-navbar-bg {
    background-color: var(--background);
  }

  .text-off-white {
    color: var(--text);
  }

  .border-off-white {
    border-color: var(--text);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }
}
